body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #6a7988 !important;
}

.btn-primary {
  background-color: #fa6800;
  border: none;
}
.btn-primary:hover {
  background-color: #e25c00;
}

.login-background {
  background: linear-gradient(135deg, #3f5765, #fa6800);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  height: 60px;
}
.card {
  border-radius: 10px;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-weight: bold;
}
